
services:
  n8n:
    image: n8nio/n8n:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: neron-n8n
    restart: unless-stopped

    volumes:
      - ${N8N_DATA}:/home/n8n/.n8n

    ports:
      - "${N8N_HTTP}:5678"

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
