services:
  grafana:
    image: grafana/grafana-oss:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: grafana
    restart: unless-stopped

    security_opt:
      - no-new-privileges:true

    volumes:
      - /etc/localtime:/etc/localtime:ro # pour synchroniser l'heure avec l'hôte
      - ${DOCKER_DATA_PATH}/grafana/data:/var/lib/grafana # données Grafana
      - ${DOCKER_DATA_PATH}/grafana/provisioning:/etc/grafana/provisioning # configuration provisioning

    ports:
      - "${GRAFANA_HTTP}:3000"

    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_ROOT_URL=${GRAFANA_ROOT_URL}
      - GF_INSTALL_PLUGINS=grafana-piechart-panel

    user: "${PUID}:${PGID}" # permissions utilisateur (optionnel)

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
