services:
  node-red:
    image: nodered/node-red:latest
    container_name: homebox-nodered
    restart: unless-stopped

    ports:
      - "${NODE_RED_HTTP}:1880"

    environment:
      - TZ=Europe/Paris
      - NODE_RED_ENABLE_SAFE_MODE=false
      - NODE_RED_ENABLE_PROJECTS=true

    volumes:
      - ${NODE_RED_DATA}/data:/data

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
