services:

  prometheus:
    image: prom/prometheus:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: prometheus
    restart: unless-stopped
    ports:
      - "${PROMETHEUS_HTTP}:9090"

    volumes:
      - .${PROMETHEUS_DATA}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
