services:
  prometheus:
    image: prom/prometheus:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: prometheus
    restart: unless-stopped

    security_opt:
      - no-new-privileges:true

    volumes:
      - /etc/localtime:/etc/localtime:ro # pour synchroniser l'heure avec l'hôte
      - ${DOCKER_DATA_PATH}/config:/etc/prometheus # fichiers de configuration
      - ${DOCKER_DATA_PATH}/data:/prometheus # données Prometheus

    ports:
      - "${PROMETHEUS_PORT}:9090"

    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d' # rétention des données (ajustable)
      - '--web.enable-lifecycle' # permet le reload de la config via API

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
