services:

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "${CADVISOR_HTTP}:8080"

    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
