services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    env_file:
      - ${ENV_PATH}/.env

    container_name: homeassistant
    restart: unless-stopped

    privileged: false
    security_opt:
      - no-new-privileges:true

    environment:
      - TZ=Europe/Paris

    volumes:
      - /etc/localtime:/etc/localtime:ro # pour synchroniser l'heure avec l'hôte
      - ${DOCKER_DATA_PATH}/homeassistant/config:/config # configuration Home Assistant
      - /run/dbus:/run/dbus:ro # communication D-Bus pour Bluetooth/intégrations système

    ports:
      - "${HOMEASSISTANT_HTTP}:8123"

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
