services:
  beszel:
    image: henrygd/beszel:latest
    env_file:
      - ${ENV_PATH}/.env

    container_name: beszel
    restart: unless-stopped

    security_opt:
      - no-new-privileges:true

    volumes:
      - /etc/localtime:/etc/localtime:ro # pour synchroniser l'heure avec l'hôte
      - ${DOCKER_DATA_PATH}/beszel/data:/beszel_data # données Beszel

    ports:
      - "${BESZEL_HTTP}:8090"

    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
